button {
  border: none;
  background-color: transparent;
  padding: 1px;
  margin: 0 4px 4px 4px;
  font-size: 0.7em;
  cursor: pointer;
}

select {
  background-color: inherit;
}

img#reloadIcon {
  width: 1em;
  height: 1em;
}

#root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  place-items: center;
  margin: 2rem auto 0 auto;
  padding: 0 2rem;
}

